<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}UYEBAR RADIO{% endblock title %}</title>
        <!-- Metadata -->
        <meta charset="utf-8">
        <meta name="description" content="Online radio with fascinating music from uyber residents">
        <meta name="author" content="Igor Lashkov">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Flavicons -->
        <link rel="shortcut icon" type="favicons" href="static/images/favicons/favicon.ico">
        <link rel="shortcut icon" type="image/png" sizes="32x32" href="static/mages/favicons/favicon-32.png">
        <link rel="shortcut icon" type="image/png" sizes="128x128" href="static/mages/favicons/favicon-128.png">
        <link rel="shortcut icon" type="image/png" sizes="152x152" href="static/mages/favicons/favicon-152.png">
        <link rel="shortcut icon" type="image/png" sizes="167x167" href="static/mages/favicons/favicon-167.png">
        <link rel="shortcut icon" type="image/png" sizes="180x180" href="static/mages/favicons/favicon-180.png">
        <link rel="shortcut icon" type="image/png" sizes="192x192" href="static/mages/favicons/favicon-192.png">
        <link rel="shortcut icon" type="image/png" sizes="196x196" href="static/mages/favicons/favicon-196.png">
        {% block css %}
        <!-- Latest compiled and minified Bootstrap CSS -->
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <!-- Project-specific CSS -->
        <link href="{{ url_for('static', filename='css/project.css') }}" rel="stylesheet" type="text/css">
        {% endblock %}
        <!-- JQuery -->
        <script src="{{ url_for('static', filename='js/jquery-3.6.0.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-input-file-text.js') }}"> </script>
        <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    </head>
    <body>
        {% include 'include/sidebar.html' %}
        
        {% block content %}
        {% endblock %}

        {% include 'include/footer.html' %}
    </body>