<div class="sidebar">
    <a href="{{ url_for('channel', number=1) }}">CHANNEL 1
        <label>({{ sidebar_tags[1] }})</label>
    </a>
    <a href="{{ url_for('channel', number=2) }}">CHANNEL 2
        <label>({{ sidebar_tags[2] }})</label>
    </a>
    <a href="{{ url_for('channel', number=3) }}">CHANNEL 3
        <label>(yurets, random, full collection, musical encyclopedia, literally anything)</label>
    </a>
    <a href="{{ url_for('channel', number=4) }}">CHANNEL 4
        <label>(4AD, discography, 1980-2000, post-punk, cocteau twins)</label>
    </a>
    <a href="{{ url_for('channel', number=5) }}">CHANNEL 5
        <label>(traumprinz, prince of denmark, planet uterus, dj metatron, lost house)</label>
    </a>
    <a href="{{ url_for('channel', number=6) }}">CHANNEL 6
        <label>(4AD, discography, 1980-2000, post-punk, cocteau twins)</label>
    </a>
    <a href="{{ url_for('channel', number=7) }}">CHANNEL 7
        <label>(yurets, random, full collection, musical encyclopedia, literally anything)</label>
    </a>
    <a href="{{ url_for('channel', number=8) }}">CHANNEL 8
        <label>(traumprinz, prince of denmark, planet uterus, dj metatron, lost house)</label>
    </a>
    <a href="{{ url_for('channel', number=9) }}">CHANNEL 9
        <label>(4AD, discography, 1980-2000, post-punk, cocteau twins)</label>
    </a>
  </div>